@mixin headerAnimation($zero, $eighty) {
  @keyframes moveHeader {
    0% {
      opacity: 0;
      transform: translateX($zero);
    }
    80% {
      transform: translateX($eighty);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
}
