.row {
  //standard width
  max-width: $grid-width;
  background-color: #ccc;
  margin: 0 auto;
  &:not(:last-child) {
    margin-bottom: 8rem;
  }

  @include clearfix;

  [class^="col-"] {
    background-color: red;
    height: 5rem;
    color: white;
    font-size: 2rem;
    text-align: center;
    float: left;
    &:not(:last-child) {
      margin-right: $horizontal-gutter;
    }
  }

  @include grid($num-cols: 2);
  @include grid($num-cols: 3);
  @include grid($num-cols: 4);
}
